# ocamlbuild working directory
_build/
*.byte
*.native

# Compiled Files #
a.out
*.exe
*.gch
*.so
*.class
*.cmo
*.cma
*.cmi
*.a
*.o
*.cmx
*.cmxs
*.cmxa

# Text Backup Files #
*.sw[a-z]
*~
\#*\#
.\#*

# OS X Files #
.DS_Store
._*
.Spotlight*
.Trashes

# Windows Files #
Thumbs.db
ehthumbs.db

